/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    body {
        background-color: #f7f7f7;
        height: 80vh;
        clear: both;
        text-align: center;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .skill-content {
        clear: both;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* your mobile css, change this as you please */
    body {
        background-color: #f7f7f7;
        height: 80vh;
        clear: both;
        text-align: center;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    body {
        background-color: #f7f7f7;
        height: 80vh;
        clear: both;
        text-align: center;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /* your desktop css */
    body {
        background-color: #f7f7f7;
        height: 80vh;
        clear: both;
        text-align: center;
    }
}