/* 222222 = dark grey, 000000 = black ,FFFFFF = white, 53A548 = green */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2, li, a, button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

h2 {
    font-size: 20px;
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
    color: #53A548;
}

button {
    margin-left: 25px;
    padding: 9px 25px;
    background-color: rgba(83, 165, 72, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: rgba(83, 165, 72, 0.8);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    padding: 30px 15%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* body */

body {
    background-color: #222222;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53A548;
    color: #000000;
    padding: 30px 15px;
    margin-top: auto;
}